.yearsSideBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4.7vw;
  scrollbar-color: transparent;
  margin-top: -8vw;
}

.categories {
  width: 100%;
}

.text {
  height: 100%;
  opacity: 0.6;
}

.years,
.yearsActive {
  cursor: pointer;
  opacity: 0.6;
  font-size: 2.2vw;
  line-height: .5vw;
  color: #000;
}

.yearsActive {
  line-height: 2vw;
  opacity: 1;
  font-size: 4vw;
}