.yearsSideBar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 15px;
    gap: 50px;
    scrollbar-color: transparent;
    width: 60%;
}

.categories {
    width: 100%;
}

.text {
    height: 100%;
    font-family: font-playfair;
    opacity: .6;
    font-size: 32px;
}

.years, .yearsActive {
    cursor: pointer;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: font-playfair;
    width: auto;
    font-size: 26px;
    opacity: .6;
}

.yearsActive {
    opacity: 1;
    font-size: 32px;
    font-family: font-playfairExtraBold;
}